* {
    font-family:'Pixelify Sans', monospace;
    box-sizing: border-box;
    font-size: 62.5%;
}

:root {
    --bg: #222;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--bg);
    color: whitesmoke;
}

h1, h2{
    color: whitesmoke; /* Initial text color */
    transition: text-shadow 0.3s ease; /* Add transition effect to text-shadow */
  }
  
  /* Add glow effect on hover */
h1:hover, h2:hover{
    text-shadow: 0 0 10px whitesmoke; /* Add a text shadow for the glow effect */
  }

#gameDiv {
    border: 2px solid whitesmoke;
    width: 400px;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}


#gameTitle {
    text-decoration: underline;
    font-size: 1.5rem;
    font-family: 'Press Start 2P', 'Pixelify Sans', monospace;
    margin: 10px;
    text-align: center;
}

#gameTitle:hover {
    transform: scale(1.05);
}

#scoreBoard { 
    display: flex;
    justify-content: space-between;  
    margin: 10px;
    font-size: 2.8rem;
    overflow: hidden;

}

.scoreText {
    border: 1px solid whitesmoke;
    margin: 0;
    padding: 10px;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.scoreText div {
    border: 1px solid whitesmoke;
    color: #E52521;
    width: 70px;
    font-size: 3rem;
    text-align: center;
    margin-top: 10px;
    padding: 10px 2.5px 5px 2.5px;
    font-family: 'Press Start 2P', 'Pixelify Sans', monospace;;
}
#outputs {
    font-size: 2.3rem;
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 10px;
    padding-right: 4.5px;
}

#outputs > h3 {
    border: 1px solid whitesmoke;
    font-size: 1.5rem;
    color: #E52521;
    min-width: 90px;
    min-width: 90px;
    padding: 0;
    text-align: center;
    margin: 0; 
}


/* Begin Buttons */ 
/* Below is not my code -- referenced in README.md */

ul {
    margin: 10px;
    padding: 0;
    display: flex;
    position: relative;
    justify-content: center;
    gap: 50px;
    list-style-type: none;
}

ul li {
    position: relative;
    text-decoration: none;
    width: 90px;
    min-width: 90px;
    height: 90px;
    min-height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    margin: 0;
    padding: 0;
}

ul li::before {
    content: '';
    position: absolute;
    inset: 30px;
    box-shadow: 0 0 0 10px var(--clr),
    0 0 0 20px var(--bg),
    0 0 0 22px var(--clr);
    transition: 0.5s;
}

ul li:hover::before {
    inset: 15px;
}

ul li::after {
    content: '';
    position: absolute;
    inset: 0;
    background: var(--bg);
    transform: rotate(45deg);
    transition: 0.5s;
}

ul li:hover::after {
   inset: 0px;
   transform: rotate(0deg);
}

ul li a {
    position: relative;
    text-decoration: none;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li a i {
    font-size: 3rem;
    transition: 0.5s;
    color: var(--clr);
    cursor: pointer;
}

ul li:hover a i {
    color: var(--clr);
    transform: translateY(-40%) ;
}

ul li a span {
    position: absolute;
    color: var(--clr);
    opacity: 0;
    transition: 0.5s;
    transform: scale(0) translateY(200%);
    font-size: 1.5rem;
    cursor: default;
}

ul li:hover a span {
    opacity: 1;
    transform: scale(1) translateY(100%);
}

ul li:hover a i,
ul li:hover a span {
    filter: drop-shadow(0 0 20px var(--clr))
            drop-shadow(0 0 40px var(--clr))
            drop-shadow(0 0 60px var(--clr));
}

